@model IEnumerable<HouseRentals.Models.House>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
{
        <p>
            <a asp-action="Create">Create New</a>
        </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price_Per_Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner.First_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price_Per_Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Owner.First_Name)
            </td>
    <td>
        <a asp-action="Details" asp-route-id="@item.HouseId">Details</a>

                    @if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
                    {
                        <text> | </text>
                <a asp-action="Edit" asp-route-id="@item.HouseId">Edit</a>
                        <text> | </text>
                <a asp-action="Delete" asp-route-id="@item.HouseId">Delete</a>
                    }

                    @if (User.IsInRole("Tenant") || User.IsInRole("Administrator") && item.Available)
                    {
                <form asp-action="Rent" method="post" style="display:inline">
                    <input type="hidden" name="id" value="@item.HouseId" />
                    <button type="submit" class="btn btn-success btn-sm">
                        Rent
                    </button>
                </form>
                    }
    </td>
        </tr>
}
    </tbody>
</table>
